{% extends 'base.html' %}  
{% block content %}
{% load i18n %}
<style>
  .mycol {
    columns: 4;
  }
</style>

<h3><i class="bi bi-archive-fill"> </i>{% trans "Archive" %}</h3>

<label for="search" class="form-label">{% trans "Search for text in PDF files, remark, file name and notes:" %}</label>
<div id="upper">
<form>
  <div class="row">
    <div class="col">
      <input class="form-control form-control-lg" id="search" name="search" value="{{ search_text }}">
    </div>
    <div class="col-auto">
      <button type="submit" name="submit" value="submit" class="btn btn-lg btn-primary"><i class="bi bi-search"></i>&nbsp;{% trans "Search" %}</button>
      <button type="submit" name="delete_search" value="delete_search" class="btn btn-lg btn-secondary" style="height: 48px;"><i class="bi bi-x-circle"></i></button>
    </div>
  </div>
  <nav>
    <div class="nav nav-tabs mt-2" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" onclick="calculateHeight();"><i class="bi bi-tags-fill"></i> Tags</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-status" type="button" role="tab" aria-controls="nav-status" aria-selected="false" onclick="calculateHeight();"><i class="bi bi-stoplights-fill"></i> Status</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-doctype" type="button" role="tab" aria-controls="nav-doctype" aria-selected="false" onclick="calculateHeight();"><i class="bi bi-file-earmark-text-fill"></i> {% trans "Document type" %}</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-person" type="button" role="tab" aria-controls="nav-person" aria-selected="false" onclick="calculateHeight();"><i class="bi bi-person-vcard-fill"></i> Person</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="mt-2">
      {% for tag in tags %}
        <!-- <div class="col-3 mt-2"> -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="{{ tag }}" value="1" id="{{ tag }}"
          {% if tag in checked_tags %}
          checked
          {% endif %}
          >
          <label for="{{ tag }}" class="badge bg-secondary" style="margin-top: 2px;">
            {{ tag }}
          </label>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="nav-status" role="tabpanel" aria-labelledby="nav-status-tab">
      <div class="col mt-2 ms-2">
        <input class="form-check-input" type="radio" name="status" value="" id="None" {% if not stat.status %}checked{% endif %}>
        <label class="form-check-label" for="None">{% trans "All" %}</label>
      </div>
      {% for stat in status_options %}
        <div class="col mt-2 ms-2">
          <input class="form-check-input" type="radio" name="status" value="{{ stat }}" id="{{ stat }}" {% if stat.status == current_status %}checked{% endif %}>
          <label class="form-check-label" for="{{ stat }}">{{ stat }}</label>
        </div>
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="nav-doctype" role="tabpanel" aria-labelledby="nav-doctype-tab">
      <div class="col mt-2 ms-2">
        <select class="form-select" name="doctype" aria-label="Dokumentenart">
          <option value="" selected>Alle</option>
            {% for doctype in doctypes %}
              <option value="{{ doctype }}" {% if doctype.doctype == current_doctype %}selected{% endif %}>{{ doctype }}</option>
            {% endfor %}
        </select>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-person" role="tabpanel" aria-labelledby="nav-person-tab">
      <div class="col mt-2 ms-2">
        <select class="form-select" name="person" aria-label="Person">
          <option value="" selected>---</option>
            {% for person in persons %}
              <option value="{{ person }}" {% if person.person == current_person %}selected{% endif %}>{{ person }}</option>
            {% endfor %}
        </select>
      </div>
    </div>
  </div>
</form>
</div>

<div class="row" id="lower" style="overflow: scroll;">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 20vw;">{% trans "Remark" %}</th>
          <th scope="col">Tags</th>
          <th scope="col">Status</th>
          <th scope="col">{% trans "Date" %}</th>
          <th scope="col">{% trans "Type" %}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for doc in docs %}
          <!-- <form action="{% url 'edit' doc.id %}"> -->
          <!-- <form action="/archive/{{ doc.id }}?current_status={{ current_status }}"> -->
            {% if forloop.counter|divisibleby:2 %}
            <tr class="table-secondary">
            {% else %}
            <tr class="table-light">
            {% endif %}
              <td rowspan="2" class="align-middle" style="width: 20vw;">{{ doc.name }} {% if doc.notes %} <i class="bi bi-sticky-fill" style="color: rgb(46, 148, 97);" data-bs-html="true" data-bs-toggle="popover" data-bs-title="Notiz" data-bs-content="{{ doc.notes|linebreaksbr }}"></i>{% endif %}</td>
              <td>
                {% for tag in doc.tags.all %}  
                <span class="badge bg-secondary mt-1">{{ tag }}</span>
                {% endfor %}  
              </td>
              {% if doc.status.id == 2 %}
                <td><div style="color: brown;"><i class="bi bi-circle"></i> {{ doc.status }}</div></td>
              {% elif doc.status.id == 1 %}
                <td><div style="color: rgb(22, 131, 87);"><i class="bi bi-check-circle"></i> {{ doc.status }}</div></td>
              {% elif doc.status.id == 3 %}
                <td><div style="color: rgb(227, 140, 0);"><i class="bi bi-alarm-fill"></i> {{ doc.status }}</div></td>
              {% else %}
                <td>{{ doc.status }}</td>
              {% endif %}
              <td>{{ doc.docdate|date:"d.m.y" }}</td>
              <td>{{ doc.doctype }}</td>
              <td rowspan="2" class="align-middle"><div class="text-end"><a href="/archive/{{ doc.id }}?current_status={{ current_status }}&current_doctype={{ current_doctype }}&search_text={{ search_text }}&person={{ current_person }}{% for tag in checked_tags %}&{{ tag }}=1{% endfor %}" type="submit" class="btn btn-secondary btn-sm d-flex align-items-center" style="height: 32px; width: 32px;"><i class="bi bi-pencil-fill"></i></a></div></td>
            </tr>
            {% if forloop.counter|divisibleby:2 %}
            <tr class="table-secondary">
            {% else %}
            <tr class="table-light">
            {% endif %}
              <td colspan="4"><i class="bi bi-file-text"> </i><a class="text-break badge custom-badge" href="{% url 'download' doc.filefolder doc.filename %}">{{ doc.filename }}</a>
              <small>(Erstellt: {{ doc.date|date:"d.m.y, H:i" }})</small> 
              {% if doc.person %}
                &nbsp; &middot; &nbsp; <i class="bi bi-person-vcard-fill"></i> {{ doc.person }}
              {% endif %}
              </td>
            </tr>
          <!-- </form> -->
        {% endfor %}
      </tbody>
    </table>
    {% if hundred_or_more %}
      <div class="text-center">
        <p><em>{% trans "The first 100 entries are shown. Customize your search to show more entries." %}</em></p>
      </div>
    {% endif %}
  </div>
</div>

<script>
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

  function calculateHeight() {
    // Get the viewport height
    var viewportHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;

    // Get the height of the upper div
    var upperDivHeight = document.getElementById("upper").clientHeight;

    // Calculate the height of the lower div
    var lowerDivHeight = viewportHeight - upperDivHeight - 245;

    // Set the height of the lower div
    document.getElementById("lower").style.height = lowerDivHeight + "px";
  }

  // Add event listener for window resize
  window.addEventListener('resize', function () {
    calculateHeight();
  });
  
  // call function on page load
  calculateHeight();
</script>

{% endblock content %}