{% extends 'base.html' %}  
{% block content %}
<style>
  .mycol {
  columns: 4;
}
</style>

<h3>Inbox</h3>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" onclick="spinner()" class="btn btn-primary">Speichern</button>
</form>

<div class="spinner" style="display: none;">
  <div class="spinner-border mb-2" style="display: block;">
    <span class="visually-hidden">Loading...</span>
  </div>
  <i>Führe Texterkennung durch...</i>
</div>

  <script type="text/javascript">
    function spinner() {
        document.getElementsByClassName("spinner")[0].style.display = "block";
    };

    function hide_spinner() {
        document.getElementsByClassName("spinner")[0].style.display = "none";
    }
  </script> 

{% endblock content %}